#demo {
    font-family: Menlo, Consolas, monospace;
    color: #444;
}
.item {
    cursor: pointer;

}

.ul-spaces {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
    margin-left: 10px;
}
#demo .bold {
    font-weight: bold;
}
#demo ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
    margin-left: 10px;
}